/** {
	outline: 2px solid red;
}*/

body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
	float: left;
}

div.ryu {
	float: left;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: -25px;
	left: -212px;
	float: left;
}


.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png')
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}


.how-to p{
	font-family: 'Architects Daughter', cursive;
	font-size: 3em;
	width: 25%;
	float: left;
}
.how-to p + p{
	margin-top: 200px;
	width: 25%;
	float:right;
}
